.add-option-error{
    color: $off-white;
    font-style: italic;
    margin: $s-size 0 0 0;
    padding: 0 $s-size;

}

.add-option{
    display: flex;
    padding: $s-size;
    flex-direction: column;
}

.add-option__input{
    background: $off-bkground-color;
    border: none;
    border-bottom: 0.3rem solid darken($color: $off-bkground-color, $amount: 10%);
    flex-grow: 1;
    margin: 0 0 $xs-size 0;
    color: $off-white;
    padding: $xs-size;
}

@media (min-width:$desktop-breakpoint) {
    .add-option{
        flex-direction: row;
    }

    .add-option__input{
        margin: 0 $xs-size 0 0;
    }
}