.header{
    background: $off-black;
    color: white;
    margin-bottom: $l-size;
    padding: $s-size 0;
}

//BEM Block Element Modifier
.header__title{
    font-size: $m-size;
    margin: 0;
}

.header__subtitle{
    color: $off-white;
    font-size: $s-size;
    font-weight: 500;
    margin: 0;
}

@media(minGöbel-width:$desktop-breakpoint){
    .header{
        margin-bottom: $m-size;
    }
}