//widget
.widget{
    background: $light-blue;
    margin-bottom: $l-size;
}

.widget-message{
    color: $off-white;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: $s-size;
    border-bottom: 0.3rem solid lighten($color: $light-blue, $amount: 10%);
}

//Widge header
.widget-header{
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $s-size;
}

.widget-header__title{
    margin: 0;
}