html{
    font-size: 62.5%;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: $s-size;
    background-color: $off-bkground-color;
}

button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}